* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
#list {
  padding-left: 0%;
}
.column {
  float: left;
  width: 32%;
  padding: 0 10px;
  padding: 10px;
  margin-bottom: 70px;
}

#border {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-right: 7%;
  width: 83%;
  height: auto;
  /* min-height: 700px; */
  background-color: lightsteelblue;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
}
.row {
  margin: 5% -5px;
}
.row:after {
  border-color: #080808;
  content: "";
  display: table;
  clear: both;
}

.card {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 13%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 6%;
  padding-left: 10%;
  background-color: white;
  text-decoration-color: #e0e9e7;
  font-size: 120%;
  color: #116979;
  border-radius: 10px;
  height: 200px;
  min-height: 200px;
}

#listItem {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  list-style-type: square;
  list-style-position: inside;
}

.title {
  font-size: 100%;
  font-weight: bold;
}
.exp ul {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
}
.modal {
  top: 10%;
  left: 22%;
  display: none;
  position: fixed;
  z-index: 1;
  width: 60%;
  height: 100%;
  overflow: scroll;
  margin: 10px auto;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.modal-content legend {
  font-size: 1.4em;
  margin-bottom: 3%;
}

.modal-content {
  width: 80%;
  z-index: 1000;
  height: 70%;
  margin-bottom: 5%;
  margin-bottom: 5%;
  overflow: scroll;
  /* padding: 10px 20px; */
  padding: 10% 20%;
  background: #fdfdfd;
  overflow: auto; /* Enable scroll if needed */
  margin: 10px auto;
  padding: 4%;
  border-radius: 4%;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: auto;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: none;
}
.modal-content input[type="text"] {
  font-family: Georgia;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 120%;
  padding: 2%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  background-color: #e8eeef;
  margin-bottom: 30px;
  outline: none;
}

.modal-content .number {
  background: #d45079;
  color: #fff;
  height: auto;
  width: 5%;
  display: inline-block;
  margin-right: 40%;
  text-align: center;
  border-radius: 15px 15px 15px 0px;
}
.title {
  text-transform: uppercase;
  /* text-align: center; */
  text-decoration: bold;
}
#myCheck {
  background-color: rgb(40, 43, 40);
  margin-right: 5%;
  display: inline-block;
  appearance: none;
  background-repeat: no-repeat;
}
#newTask {
  font-size: 20px;
  list-style-type: square;
}

.modal-content button {
  display: block;
  /* padding: 10px 20px 10px 20px; */
  padding: 3% 5% 3% 3.5%;
  color: #fff;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 90%;
  font-style: normal;
  width: 15%;
  border-radius: 5%;
  border: 1% solid #16a085;
  border-width: 0.5% 0.5% 1%;
  text-align: center;
}
.modal-content button:focus {
  outline: 0;
}

.close {
  color: #aaaaaa;
  float: right;
  /* font-size: 28px; */
  font-weight: bold;
  font-size: 200%;
  padding-right: 8%;
}
.closing {
  color: #696666;
  cursor: pointer;
  float: right;
  font-size: 200%;
  font-weight: bold;
  padding-right: 4%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
#editCard {
  font-size: 15px;
  /* margin-left: 10%; */
  width: 100%;
  border: black solid 1px;
}
#icon {
  float: left;
  margin-left: 2%;
  margin-right: 1%;
  position: relative;
  /* Adjust these values accordingly */
  top: 10px;
  left: 5px;
  height: 35px;
  width: 35px;
}
#editIcon {
  float: right;
  margin-left: 2%;
  margin-right: 1%;
  position: relative;
  /* top: 1px; */
  bottom: 20px;
  left: 5px;
  height: 20px;
  width: 20px;
}
#taskicon {
  float: right;
  position: relative;
  bottom: 83px;
  margin-right: 115px;
  left: 5px;
  height: 35px;
  width: 35px;
}
#navSearch {
  /* background-color: red; */
  bottom: 100px;
}

#navbar {
  overflow: hidden;
  margin-top: 20px;
  /* background-color: #f8f6f2; */
  background-color: white;
  height: 90%;
  top: 0;
  width: 100%;
}
#navbar input[type="text"] {
  margin-top: 2px;
  background-color: white;
  border: 1px solid rgb(17, 16, 16);
  font-size: 15px;
  float: center;
  display: block;
  text-align: left;
  margin: 0;
  padding: 1%;
  width: 15%;
}
#navbar a {
  float: right;
  /* top : 10px; */
  margin-left: 2%;
  margin-right: 1.5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  color: #161515;
  text-align: center;
  /* padding: 10px; */
  text-decoration: none;
}

/* modal exp */

/* The Modal (background) */
.modalExp {
  top: 18%;
  left: 20%;
  display: none;
  position: fixed;
  z-index: 1;
  width: 60%;
  height: 80%;
  margin: 10px auto;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Modal Content */
.modalExp-content {
  width: 80%;
  height: 60%;
  margin-bottom: 5%;
  margin-bottom: 5%;
  padding: 10px 20px;
  background-color: #ceecda;
  overflow: auto;
  margin: 10px auto;
  padding: 2%;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: auto;
}

.closeExp {
  color: #aaaaaa;
  float: right;
  font-size: 170%;
  font-weight: bold;
}

.closeExp:hover,
.closeExp:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cardModal {
  margin-left: 45%;
  margin-right: 5%;
  margin-bottom: 13%;
  color: #116979;
  margin-top: 38%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 6%;
  text-decoration-color: #e0e9e7;
  font-size: 120%;
  border-radius: 3%;
  background-color: white;
  opacity: 2;
  height: auto;
  /* width: 400px; */
  width: 250%;
}
#btnExp {
  color: #ea9085;
  float: right;
  font-size: 100%;
  padding-top: 45%;
  font-weight: bold;
  padding-right: 0%;
  cursor: pointer;
}

.dateTimeExp {
  padding-left: 35%;
}
@media screen and (max-width: 400px) {
  .modal {
    display: none;
    z-index: 1;
    width: 100%;
    top: 10%;
    position: fixed;
    height: 100%;
    overflow: scroll;
    margin: 10px auto;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .modal-content {
    width: 100%;
    z-index: 1000;
    height: 70%;
    margin-bottom: 5%;
    margin-bottom: 5%;
    overflow: scroll;
    /* padding: 10px 20px; */
    padding: 10% 20%;
    background: #fdfdfd;
    overflow: auto; /* Enable scroll if needed */
    border-radius: 4%;
    font-family: Georgia, "Times New Roman", Times, serif;
    overflow: auto;
  }
}
